<div class="tear--top tear--bottom">
    <div class="hero hero--x-large box ratio-container js hero--white lazyloaded" data-paroller="">
      <div class="hero__inner hero__inner--left">
        <div class="page-width text-center">
          
          {% if section.settings.show_image %}
            <img 
              class="hero__image" 
              src="{{section.settings.image | img_url: 'master'}}"
            >
          {% endif %}

        
        </div>
        <div class="page-width page-width--narrow">
          
            <h2 class="mega-title h4">
              {{section.settings.heading}}
            </h2>
          
            <div class="rte-setting mega-subtitle">
              <p>
                {{section.settings.description}}
              </p>
            </div>     
          
            <div class="text-center">
              <a href="{{section.settings.button}}" class="btn hero__btn">
                {{section.settings.button_label}}
              </a>
            </div>
          
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
    "name":"RAW Custom",
    "settings": [
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show Image",
          "default": true
        },  
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },  
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },  
        {
            "type": "text",
            "id": "description",
            "label": "Text label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Text"
        }
    ],
    "presets": [
        {
            "category": "RAW",
            "name":"RAW Custom"
        }
    ]
}
{% endschema %}